* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
  }

body {
    line-height: 1;
    font-weight: 400;
    color: #555;
    font-family: 'Inter', sans-serif;
}

main {
    background: #e3fafc;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    background-color: #99e9f2;
    height: 96px;
    border-bottom: #000000 solid 3px;
}
.title {
    font-weight: 200;
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
    font-weight: 600;
    margin-bottom: 0;
}



a.nav-link:hover {
    color: rgb(255, 230, 0);
    cursor: pointer;
}


a.color {
    background: #eeee;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    box-shadow:         3px 2px 2px rgba(50, 50, 50, 0.77);
}

a.color:hover {
    background: #7abac2;
    color: #ffffffee;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    box-shadow:         3px 2px 2px rgba(50, 50, 50, 0.77);
}

/* PRIMEIRA PARTE (FORMULARIO E TITULO) */

.hero {
    display:flex;
    padding: 0 48px;
    align-items: center;
    height: 400px;
    justify-content: space-around;
    margin-bottom: 48px;
    
}

.foto-comp{
    width: 400px;
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
   
}

.description {
    text-align: justify;
    font-size: 30px;
}

.color-diff {
    color: rgb(63, 191, 255);
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.input-texts {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
}


.phrase-form {
    font-weight: 500;

}


.text-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #99e9f2;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow:         3px 2px 2px rgba(50, 50, 50, 0.77);
}

.description-text-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.button {
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    box-shadow:         3px 2px 2px rgba(50, 50, 50, 0.77);
}

.button:hover {
    border-radius: 10px;
    padding: 10px;
    background: #7abac2;
    color: #ffffffee;
    box-shadow:         3px 2px 2px rgba(50, 50, 50, 0.77);
}

/* SEGUNDA PARTE (IMAGENS) */

.second-hero {
    margin-bottom: 48px;
}


.container{
    display: flex;
    justify-content: center;
    
}

.second-title {
    color: rgb(63, 191, 255);
    border-top: 0.4px solid black;
    margin-bottom: 48px;
    display: inline-block;
 
}

.images-text {
    display: flex;
    flex-direction: column;
    background-color: #cce1e3;
    padding: 10px 0;
    
}

.images {
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    padding: 20px 0;
}

.texts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.fotos {
    width: 300px;
    height: 600px;
    border: 2px solid black;
    
    
}

.text-1 {
    display: flex;
    padding: 0 25px;
    text-align: center;
    max-width: 300px;
    font-weight: 600;
    font-size: larger;
}

/* TERCEIRA PARTE (OBJETIVOS E VALORES) */
.separation {
    display: flex;
    padding: 0 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.objectives {
    text-align: justify;
    font-weight: 500;
    font-size: 25px;
    
}


.values-1 {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.values-title {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 40px;
    border-bottom: 0.4px solid  rgb(0, 0, 0);
}

.value {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.value:first-letter{
    color: rgb(63, 191, 255);
    font-size: 25px;
}

.third-hero {
    margin-bottom: 48px;
    border-bottom: 0.4px solid black;
}

/* QUARTA PARTE (ABORDAGEM) */

.separation-four {
    display: flex;
    padding: 0 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image-four {
    width: 450px;
    height: 450px;
    border: 2px solid black;
    border-radius: 20px;
}

.fourth-hero {
    margin-bottom: 48px;
    
}

/* QUINTA PARTE (SEGUIR REDES SOCIAIS) */

.fifth-hero {
    background-color: #cce1e3;
}

.follow-us {
    margin-top: 25px;
    display: inline-block;
    justify-content: center;
    border-bottom: 0.4px solid black;
    font-size: 40px;
    font-style: italic;
}

.follow-description {
    font-size: 25px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}


.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-size: 100px;
    text-decoration: none;
    color: black;
}

.logo :hover {
    text-decoration: none;
    color: #7abac2;
    font-size: 110px;
}

/* FOOTER */

footer {
    border-top: 5px solid black;
    background-color: #5b6465;
    padding-bottom: 40px;
    padding-top: 5rem;
}

.content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-title-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-title {
    color: white;
    font-size: 80px;
}

.logo-footer {
    color: white;
    font-size: 80px;
}

.footer-list {
    font-size: 40px;
    list-style-type: none;
}

.footer-link {
    
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    
    text-decoration: none;
    color: rgb(157, 156, 156);
}

.footer-text {
    font-size: 20px;
    color: white;
}